body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    

}

input {
    padding: 8px;
    width: 200px;
}

button {
    padding: 8px;
    cursor: pointer;
}

li {
    list-style: none;
    margin: 10px;
}

#saveBtn {
    background-color: greenyellow;
    padding: 5px;
    margin: 10px;
}